*{
 padding:0px;
 margin:0px;
}
body{
 width:225px;
 overflow:hidden;
}
.titleBar{
 width:225px;
 border-collapse: collapse;
 text-align:center;
 background-color:#396DA6;
 padding:0.5em;
}
.titleBar td{
 border:0px solid black;
 text-align:center;
 width: 40px;
 cursor: pointer;
}
.titleBar .title{
 width: 145px;
}
.icon{ 
 width:21px;
} 
