*{
 padding:0px;
 margin:0px;
}
body{
 width:225px;
 overflow:hidden;
}
.titleBar{
 width:225px;
 border-collapse: collapse;
 text-align:center;
 background-color:#396DA6;
 padding:0.5em;
}
.titleBar td{
 border:1px solid black;
 text-align:center;
 width: 25px;
 cursor: pointer;
}
.titleBar .title{
 width: 175px;
}
.icon{ 
 width:21px;
 margin:2px;
 display: inline;
} 
