*{
 padding:0px;
 margin:0px;
 border:0px;
}
body{
 width:225px;
 overflow:hidden;
}
.titleBar{
 width:225px;
 border-collapse: collapse;
 text-align:center;
 background-color:LightSteelBlue;
 padding:0.5em;
 border: 1px solid black;
}
.titleBar td{
 border:0px solid black;
 text-align:center;
 width: 40px;
 cursor: pointer;
}
.titleBar .title{
 width: 145px;
}
td{
 padding-top: 5px;
 padding-bottom: 5px;
}
.icon{ 
 width:21px;
 height:21px;
} 
input{
 padding: 4px;
 border: 1px solid gray;
 border-radius: 5px;
}
fieldset{
 border:1px solid LightSteelBlue;
 margin:1px;
 padding: 4px;
 border-radius: 5px;
}
.scrollable{
 overflow-x: hidden;
 overflow-y: scroll;
}
#settings{
 display:none;
 clear:both;
}
#settings .titleBar {
 background-color: transparent;
 border: 0px;
 border-bottom: 1px solid black;
 margin-bottom: 2px;
}
#settings label{
 display:block;
 margin:1px;
}
