*{
  margin: 0px;
  padding: 0px;
}  
iframe{
  width: 225px;
  overflow-x: hidden;
  overflow-y: hidden;
}
#page-wrapper{
  background-color:gray;
}
#header{
  background-color:black;
  color:white;
}
#header-nav .left{
  display:inline-block;
  text-align:left;
  width:20%
}
#header-nav .center{
  display:inline-block;
  text-align:center;
  width:58%
}
#header-nav .right{  
  display:inline-block;
  text-align:right;
  width:20%
}
