*{
  margin: 0px;
  padding: 0px;
}  
iframe{
  width: 225px;
  overflow-x: hidden;
  overflow-y: hidden;
}
#page-wrapper{
  
}
#header{
}
#header-nav{
  background-color:gray;
  color:white;
  padding-top:10px;
}
#header-nav .left{
  display:inline-block;
  text-align:left;
  width:30%;
  background-color:red;
}
#header-nav .center{
  display:inline-block;
  text-align:center;
  width:38%;
  background-color:yellow;
}
#header-nav .right{  
  display:inline-block;
  text-align:right;
  width:30%;
  background-color:green;
}
