*{
  margin: 0px;
  padding: 0px;
}
a img {
  border:none;
  vertical-align:top; 
}
iframe{
  width: 225px;
  overflow-x: hidden;
  overflow-y: hidden;
}
#page-wrapper{
  
}
#header{
  overflow-x: hidden;
  overflow-y: hidden;
  height:40px;
  background-color:green;
}
#header-nav{
  background-color:gray;
  width:100%;
  padding:8px;
}
#header-nav .left{
  display:inline;
  float:left;
  text-align:left;
  width:15%;
}
#header-nav .center{
  display:inline;
  float:left;
  text-align:center;
  width:66%;
  padding-top:5px;
}
#header-nav .right{  
  display:inline;
  float:left;
  text-align:right;
  width:15%;
}
